.card-organizer-card-grid {
    display: grid;
    margin-top: 10px;
    grid-gap: 10px;
    grid-auto-columns: minmax(4vw, 8vw);
    grid-auto-rows: 3vh;
    align-items: center;
    justify-content: center;
}

.card-organizer-card-grid .card {
    width: 80%;
    justify-self: center;
}

.card-organizer-card-grid .card input {
    width: 75%;
    text-overflow: ellipsis;
}

.title {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    font-family: "Arial Black", serif;
}

.card-grid {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 25px;
    align-items: center;
    justify-content: center;
}

.error-text-input {
    border: 3px solid red;
}

.card {
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 5%;
    border: 1px solid black;
    box-shadow: 3px 1px #888888;
}

.card:focus {
    box-shadow: 0 0 4px 4px cornflowerblue;
    outline: none;
}

.inner-card-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 25%);
    height: 100%;
}

.inner-org-card-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 100%;
}

.adder-card-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 20% 20%;
    height: 100%;
}

.card-counter {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
}

.right-self {
    display: flex;
    align-self: center;
    align-content: center;
    justify-self: end;
    justify-content: center;
}

.center-self {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

.card-text {
    font-size: 16px;
    font-family: Monaco, monospace;
}

.soft-border {
    border-radius: 10%;
    border: 1px solid black;
    box-shadow: 3px 1px #888888;
    padding: 3px 20px;
}

.card-count {
    font-size: 20px;
    font-family: Monaco, monospace;
}

.card-button {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    width: 50%;
}

.card-button:focus {
    box-shadow: 0 0 4px 4px cornflowerblue;
    outline: none;
}

.card-escape-button {
    font-size: 16px;
    line-height: 16px;
    width: 15%;
    margin-right: 10px;
}

.card-adder {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}

.card-text-button {
    font-size: 16px;
    line-height: 16px;
    width: 75%;
    margin-top: 15px;
    padding: 5px;
}

.hidden {
    display: none;
}

.card-selected {
    border: 3px solid lightskyblue;
}

.card-add-input {
    width: 80%;
    resize: none;
    font-size: 14px;
    line-height: 16px;
}

.adding-card-button {
    width: 80%;
    height: 100%;
    justify-self: center;
}

@media only screen and (max-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(3, 29%);
    }

    .card-organizer-card-grid {
        grid-auto-columns: 25vw;
        grid-auto-rows: 4vh;
        overflow: scroll hidden;
        grid-auto-flow: column;
        scrollbar-width: none;
        overflow-scrolling: touch;
        grid-template-rows: 10vh;
        margin-top: 0;
        grid-gap: unset;
    }

    .deck-body::before {
        content: ' ';
    }

    .card {
        height: 60%;
    }

    .card-grid .card {
        height: 75%;
    }

    .adding-card-button {
        height: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 44%);
    }
}

@media only screen and (max-width: 512px) {
    .card-grid {
        grid-template-columns: repeat(1, 85%);
    }
}
